
div {
  border-radius: 15px;
  border: 4px solid #4a4a4a;
  margin: 2em;
  padding: 1em;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  min-width: 90%;
  min-height: 320px;
  background-color: #d1d1d1;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #000000;
  color: #000000;
  margin: 0;
  padding: 0;
}

/* .popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 50px;
}

.popup > div {
  background-color: #000000;
  padding: 2em;
  border-radius: 15px;
  max-width: 400px;
  width: 100%;
} */

button {
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #ffffff;
}

header {
  background-color: #000000;
  color: #ddd;
  text-align: center;
  padding: 1em;
  border-radius: 12px;
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.5em;
}

ol {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ol button {
  margin-right: 1em;
}

.active-link {
  background-color: #363636;
}

footer {
  background-color: #d1d1d1;
  border-color: #000000;
  color: white;
  border-width: 1em;
  text-align: center;
  padding: 1em;
  position: fixed;
  bottom: 0;
  width: 75px;
  border-radius: 12px;
}

footer a {
  margin: 0 1em;
}

footer img {
  width: 50px;
  height: auto;
}

th {
  align-content: center;
  text-align: center;
}

tr {
  align-content: center;
  text-align: center;
}

input {
  padding: 12px 24px;
  border-radius: 12px;
  border: none;
  background-color: #ffffff;
  color: #000000;
  border-color: #000000;
  cursor: pointer;
  font-size: 16px;
}